export HONEYBADGER_API_KEY="hbp_Pj0PoLze98Ff8SrCGFFVdcOyJmXOFX1gl7fS"
export DB_HOST="localhost"
export DB_USERNAME="voelgoed"
export DB_PASSWORD="voelgoed_dev"
export DB_NAME="voelgoedevents_dev"
export DB_TEST_NAME="voelgoedevents_test"
export REDIS_URL="redis://localhost:6379"
export DB_PORT="5433"

