name: CD Deployment
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.18.0-otp-27"
          otp-version: "27.1.2"
      - run: mix deps.get
      - run: echo "Deploy step placeholder"
